@charset "UTF-8";

/** hide element class(not {dispaly: none;}) */
.display_none
, .display_none *
{
    /* basic hide style */
    visibility: hidden;
    width: 0px;
    height: 0px;
    z-index: -10;
    left: -100px;

    /* hide child */
    overflow: hidden;

    /* fix position for hidden anchor, radio... */
    position: fixed;
    top: 30px;
}
